body {
	background-color: #000000;
	margin: 0px;
	color: #FFFFFF;
}

h1 {
	text-align: center;
	margin: 0px;
}

h2 {
	text-align: center;
	font-size: 18pt;
	margin: 0px;
}

hr {
	margin: 10px 0px 15px 0px;
}

canvas {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 25px 0px;
	border-color: #BBB;
	border-style: solid;
}



.overlay#title {
	padding: 20px 30px 20px 30px;
	border-width: 2px;
	border-radius: 10px;
}

.overlay#controls {
	padding: 15px;
	border-width: 0px 0px 2px 2px;
	border-radius: 0px 0px 0px 20px;
}

#togglePause {
	width: 80px;
}